body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header h3 {
    font-weight: 500;
    font-family: impact;
}

header h3:hover {
    color: #555;
    cursor: pointer;
}

header {
    width: 100vw;
    height: 50px;
    background-color: #fff;
    box-shadow: 4px 4px 8px #333;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

nav ul {
    display: flex;
}

nav ul li {
    text-decoration: none;
    color: white;
    list-style: none;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #333;
    margin: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: impact;
}

nav ul li a:hover {
    color: #555;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background-color: #fff;
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.product:hover {
    box-shadow: 2px 2px 4px #333;
    cursor: pointer;
    transition: 0.4s ease-in;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #333;
}

.price {
    font-weight: bold;
}

#cart {
    background-color: #fff;
    margin-left: 50px;
    padding: 20px;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

#total {
    font-weight: bold;
    margin-top: 20px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    padding: 10px;
    box-shadow: 2px 2px 4px #333;
    margin: 20px auto 20px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
}

.popup .close {
    background-color: red;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

.form-container{
     width: 300px;
     height: 290px;
     background-color: #fff;
     box-shadow: 2px 2px 4px #333;
     padding: 10px;
     border-radius: 10px;
     margin: 20px auto 20px;
}

form{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding: 10px;
}

.input-field{
    width: 100%;
    margin: 10px;
}
input{
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

.input-field label{
    font-weight: 600;
}

main{
    display: none;
}
h3{
    text-align: center;
}